@section Title {Houses - Salesperson}
@section NavBar{
    <partial name="~/Views/Salesperson/Partials/SalespersonNavBar.cshtml" />
}
@model SalespersonHousesListViewModel
@using DoorToDoorLibrary.DatabaseObjects


<h2>My Houses:</h2>
<span>
    @Html.ValidationMessage("not-your-house")
</span>
<div class="container">
    <ul id="manager-house-list">
        <li class="house-list-item">
            <div class="house-list-street">Street</div>
            <div class="house-list-city">City</div>
            <div class="house-list-district">District</div>
            <div class="house-list-country">Country</div>
            <div class="house-list-salesperson">Assigned Salesperson</div>
            <div class="house-list-status">Status</div>
        </li>
        @{
            foreach (HouseItem house in Model.Houses)
            {
                <li class="house-list-item">
                    <div class="house-list-street">@(house.Street)</div>
                    <div class="house-list-city">@(house.City)</div>
                    <div class="house-list-district">@(house.District)</div>
                    <div class="house-list-country">@(house.Country)</div>
                    <div class="house-list-salesperson">@(house.AssignedSalesperson)</div>
                    <div class="house-list-status">@(house.Status)</div>
                    <div class="house-list-details">
                        <a asp-controller="Salesperson" asp-action="HouseDetails" asp-route-houseID="@(house.Id)" class="no-link-modify">
                            <i class="fas fa-list-ul"></i> Details
                        </a>
                    </div>
                </li>
            }
        }
    </ul>
</div>