@section Title {House Detail - Salesperson}
@section NavBar{
    <partial name="~/Views/Salesperson/Partials/SalespersonNavBar.cshtml" />
}
@model HouseItem
@using DoorToDoorLibrary.DatabaseObjects

<h2>House Details:</h2>
<div class="container">
    <div id="house-details">
        <div id="house-detail-address">
            <h5>Address:</h5>
            <div>@(Model.Street)</div>
            <div>@(Model.City), @(Model.District) @(Model.ZipCode)</div>
            <div>@(Model.Country)</div>
        </div>
        <div id="house-detail-status">
            <h5>Current Status:</h5>
            <div>@(Model.Status)</div>
        </div>
    </div>
</div>